<%- include('./layout/Header') %>
<%- include('./layout/Navbar') %>    


    <div class="showcase">
        <h1>Course <span class="green-text"> Summary</span></h1>
        <br>
        <h3>New Cours !!</h3>
        <br>

         <div class="Cont-Card">
                <div class="card">
                    <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.microsoft.com%2F&psig=AOvVaw2EhMwL5c32JUogThcB5s20&ust=1618448251232000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCPiG9dvD_O8CFQAAAAAdAAAAABAD" alt="Services-img" style="width:100%">
                    <div class="containerCard">
                    <h4><b>Express</b></h4>
                    </div>
                </div>
              
              <div class="card">
                <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.microsoft.com%2F&psig=AOvVaw2EhMwL5c32JUogThcB5s20&ust=1618448251232000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCPiG9dvD_O8CFQAAAAAdAAAAABAD" alt="Services-img" style="width:100%">
                <div class="containerCard">
                  <h4><b>MonoGoDB</b></h4>
                </div>
              </div>

              <div class="card">
                <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.microsoft.com%2F&psig=AOvVaw2EhMwL5c32JUogThcB5s20&ust=1618448251232000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCPiG9dvD_O8CFQAAAAAdAAAAABAD" alt="Services-img" style="width:100%">
                <div class="containerCard">
                  <h4><b>Monogoose</b></h4>
                </div>
              </div>
         </div>

          <br>
        <a href="/contact">Go to  Contact page</a>

    </div>

<%- include('./layout/Footer') %>
